
*
{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
  font-size: 62.5%;
}
.logininput
{
  width: 20rem !important;
  height: 1rem!important;
  padding: 1rem 1rem;
  font-size: 1.2rem;
}
.loginbtn
{
  width: 20rem;
  height: 1rem!important;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1rem 1rem;
  background-color: navy;
  color: white;
  text-decoration: none;

}

.login{
  font-size: 2.4rem;
  margin-bottom: 4rem;

}
.login-container
{
  margin-top: 5rem;
}
.logout
{
  font-size: 1.5rem!important;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  float: right!important;
  margin-right: 3rem;
  margin-top: 0.5rem;
}
nav
{
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 2.4rem;
 
  width: 100%;
}
.newblogcontainer
{
  text-align: center;
  margin: 2rem 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem black;
}
.blogimage2
{
  margin-left: 4rem;
}
.blogtext2
{
  margin-left: 4rem;
  width: 18rem;
  font-size: 1rem;
}
img{
  width: 15rem;

}


.heading
{
  font-size: 2.5rem;
}
label{
  font-size: 1.3rem;
  margin: 1rem 1rem;
}
input{
  width: 50%;
  height: 4rem;
  margin: 1rem 1rem;
  font-size: 0.8rem;
  padding: 4px 4px;
}
span{
  color: red;
}
.blogscontainer
{
  width: 30%;
  display: inline-block;
  height: 28rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  background-color: aliceblue;
 text-align: center;
 padding-top:10px;

}
.blogimage
{
  width: 20rem;
}
.blogtext
{
  width: 20rem;
  font-size: 0.9rem;
  margin: 1.2rem 1.2rem;
}
.blogdetailbtn
{
  font-size: 1.2rem;
  background-color: navy;
  color: white;
  font-weight: bolder;
  padding: 3px 3px;
  cursor: pointer;
}
.blogscontainer1
{
  width:60%;
  
  height: 100%;
  z-index: 100;
  margin-top: 3rem;
  margin-left: 12rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5rem 5rem 5rem black;
  justify-content: center;
 text-align: center;
 padding-top:10px;
 position: absolute;
 top: 130%;



}
.blogimage1
{
  width: 40%;
  height: 20rem;
  
 
}
.blogtext1
{
  width: 34rem;
  font-size: 1.0rem;
  margin:2rem 7rem;
 
}
.container1{
  width: 80%;
  height: 100%;
  background-color: white;
 top:7rem;
  z-index: 100;

}
#cross-btn
{
 float: right;
 margin-top: -0.4rem;
 margin-right: 0.5rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}
/******************Responsive*********************/
@media only screen and (max-width: 1000px)
{
  .blogscontainer{
    margin: 4rem 4rem;
  width: fit-content;
  }
  .blogscontainer1
  {
    width: fit-content;
   top: 140%;
   margin-left: 4rem;
  }
}
@media only screen and (max-width: 800px)
{
  .blogscontainer1
  {
    width: fit-content;
    height: 35rem;
    margin: 4rem 4rem;

  }
  .blogtext1
  {
    font-size: 0.8rem;
    width: 20rem;
  }
  .blogimage1
  {
    width: 20rem;
  }

}
@media only screen and (max-width: 630px)
{
  .blogscontainer1{
    margin-left: 0.5rem;
    height: 24rem;
    width: 30rem;
  }
  .blogimage1{
    width: 10rem;
    height: 10rem;
  }
}
